.Sobre {
    padding: 5.6vw;

    h2 {
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;

        @media (max-width: 768px) {
            display: block;
        }

        &__item {
            text-align: center;
            padding: 20px 44px 44px;
            max-width: 380px;
            width: 100%;

            img {
                width: 250px;
                height: 350px;
            }
        }
    }

    p {
        text-align: center;
    }

    .titulo {
        font-size: 18px;
    }
}